@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins";
  overflow-x: hidden;
}

.white_shade {
  height: 10vh;
  background: url("./assets/shade_on_header.png");
}

.element-causing-scrollbar {
  ::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

input.color_place::placeholder {
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}
